/* navbar */

.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

/* spacing btw each nav link */

.main-nav {
	margin: 0 0.5rem;
}

/* hamburger menu alignment */

.topnav {
	display: flex; 
	justify-content: space-between;
	align-items: center;
	padding: 5rem 10rem;
	background-color: #212121;
	color: white;
}

.chevron-right {
	display: none;
}

/* hamburger menu */

.hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: white;
}

/* dropdown nav links */

.link, .portfolio{
	text-decoration: none;
	color: white;
	padding: 0;
	font-size: inherit;
	background: none;
	border: none;
	font-family: inherit;
	cursor: pointer;
}



/* nav dropdown */

.dropdown {
	margin: 0;
	display: inline-block;
	position: relative;
}

.dropdown-menu {
	position: absolute;
	text-align: right;
	width: 200px;
	top: calc(100% + 1rem);
	right: 0;
	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}


.dropdown-item {
	display: flex;
	flex-direction: column;
	padding: 0.2rem 0;
	text-decoration: none;
	color: white;
	font-size: inherit;
	font-family: inherit;
	cursor: pointer;
}

.dropdown.active > .portfolio + .dropdown-menu {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.dropdown button:hover{
	text-decoration: none;
}

.logo {
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
	padding: 0 0.5rem;
}

@media (max-width: 1200px) {
	.title{
		font-size: 1.5rem;
	}

	.topnav{
		padding: 3rem 6rem;
	}
}

@media (max-width: 1030px) {
	.hamburger{
		display: block;
	}

	.hamburger.active .bar:nth-child(2){
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}

	.nav-links{
		display: flex;
		position: fixed;
		justify-content: center;
		left: -100%;
		top: 0px;
		gap: 0;
		flex-direction: column;
		background-color: #1c1c1c;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: 0.3s;
	}

	.chevron-right {
		display: inline-block;
	}

	.link, .portfolio{
		margin: 16px 0;
	}

	.nav-links.active{
		left: 0;
	}

	.dropdown-menu {
		display: flex;
		position: fixed;
		left: -100%;
		text-align: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		top: 0;
		gap: 1rem;
		flex-direction: column;
		background-color: #1c1c1c;
		pointer-events: none;
		transition: 0.3s;
		}

	.dropdown-menu.active {
		left: 0;
	}
}	

@media (max-width: 842px) {
	.logo{
		font-size: 1.25rem;
	}

	.topnav{
		padding: 1.5rem 3rem;
	}
}

@media (max-width: 475px) {
	.logo{
		font-size: 1rem;
	}

	.topnav{
		padding: 1.5rem;
	}
}
