html{
	height: 100%;
}

body{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	margin: 0;
	position: relative;
	min-height: 100%;
	padding-bottom: 100px;
}

main{
	margin: 0 10rem 5rem 10rem;
}

/* homepage text */

.header-text {
	padding: 5% 10% 0 10%;
	text-align: center;
}

.header-text h1 {
	font-weight: 400;
	font-size: 2rem;
}

.socials {
	text-align: center;
	padding: 1.5rem;
	font-size: 1.5rem;
}

/* button */

.primary-button {
	cursor:pointer;
	background-color: #1C1C1C;
	color: white;
	padding: 1.5rem 3rem;
	border: solid 2px white;
	border-radius: 50px;
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	transition-duration: 0.4s;
}

.primary-button:hover {
	background-color: white;
  color: black;
}

.primary-header{
	display: flex;
	justify-content: center;
	margin-bottom: 10%;
}

/* case study cards */

.card-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 3%;
	row-gap: 3%;
}

.cards img{
	width: 100%;
	object-fit: cover;
	cursor: pointer;
}

.title {
	text-align: center;
	font-weight: 500;
	font-size: 2rem;
}

/* Footer */

footer{
	background-color: #212121;
	font-size: 0.85rem;
	padding: 16px;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

/* Lunchbox Casestudy */

.lunchbox-home {
	background: #212121;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	padding: 3% 30% 10% 30%;
	text-align: center;
}

.lunchbox-logo {
	display: flex;
	width: 3rem;
}

.lunchbox-header-title {
	font-weight: 400;
	font-size: 3rem;
	letter-spacing: .04em;
	margin: 1rem;
}

.lunchbox-header-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.9em;
	letter-spacing: .04em;
}

.disclaimer {
	font-family: Arial, Helvetica, sans-serif;
	color: #848282;
	font-size: 0.75rem;
	font-style: italic;
	margin: 32px 0;
}

.background-container {
	background-image: url(./images/lunchbox/Landing+Page.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 10% 15% 7% 15%;
}

.designs {
	width: 100%;
}

.section-container {
	padding: 5% 25%;
}

.lunchbox-title {
	font-weight: 400;
	font-size: 2.5rem;
}

.lunchbox-text, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.9em;
	letter-spacing: .03em;
}

.lunchbox-text {
	margin: 3rem 0;
}

ol{
	padding-left: 30px;
	margin: 0;
}

.lunchbox-list {
	margin-bottom: 1rem
}

.challenge {
	background: #F5F6F7;
}

.research-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2rem;
	row-gap: 2rem;
	margin: 8rem 0;
}

.research-title {
	font-weight: 500;
	font-size: 1.25rem;
	margin-bottom: 0px;
}

.research-card > .lunchbox-text {
	margin: 1rem 0;
}

.quote {
	margin: 0 -20% ;
	font-style: italic;
	font-size: 1.25rem;
	color: #978F8F;
	text-align: center;
}

.quote-author{
	text-align: center;
}

.understand-users {
	background: #F5F6F7;
}

.identify-grid {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 2rem;
}

.location-sharing {
	background: #F5F6F7;
}


/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
	background-color: rgba(0,0,0,0.3);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 1200px) {
	.header-text h1 {
		font-weight: 400;
		font-size: 2.2vh;
	}

	main{
		margin: 3rem 6rem;
	}

	.lunchbox-home {
		padding: 3% 20% 10% 20%;
	}

	.section-container {
		padding: 5% 20%;
	}
}

@media (max-width: 1030px) {
	.header-text h1 {
		font-weight: 400;
	}

	.primary-button {
		padding: 1rem 2rem;
		font-size: 1rem;
	}

	.cards h2 {
		font-size: 2.5vh;
		font-weight: 500;
	}

	.cards p{
		font-size: 1.6vh;
	}
}	

@media (max-width: 842px) {
	.card-container{
		display: grid;
		grid-template-columns: 1fr;
		margin-bottom: 250px;
	}

	main{
		margin: 1.5rem 3rem;
	}

	.lunchbox-home {
		padding: 3% 15% 10% 15%;
	}

	.section-container {
		padding: 5% 15%;
	}

	.research-grid {
		grid-template-columns: 1fr
	}
}

@media (max-width: 475px) {

	.header-text {
		padding: 10% 0 0 0;
	}

	main{
		margin: 1.5rem;
	}

	.lunchbox-home {
		padding: 3% 10% 10% 10%;
	}

	.section-container {
		padding: 5% 10%;
	}

	.lunchbox-header-title {
		font-size: 2rem;
	}

	.lunchbox-header-text {
		font-size: 1rem;
	}

	.lunchbox-title {
		font-size: 2rem;
	}
	
	.lunchbox-text, li {
		font-size: .9rem;
	}

	.quote {
		margin: 0 -10% ;
		font-size: 1rem;
	}
}
